
html, body{
    margin: 0;
    padding: 0;
    font-family: "Comfortaa";
    font-size: 16px;
}

h1{
    font-weight: 700;
    color: #121717;
    font-size: 2.8rem;
    margin-left: 8%;
    margin-top: 5rem;
}


.device-height{
    width: auto;
    height: 100vh;
}

.top-section{
    background-color: #060811;
}

.header{
    padding: 30px 30px 0 30px;
    overflow: auto;
}

.main{
    background-color: #FFFFFF;
}

.header .navigation{
    float: right;
    text-align: right;
    font-size: 18px;
    color: #FFFFFF41;
    font-family: "Comfortaa";
    font-weight: 300;
    list-style: none;
    margin: 0;
}

.navigation li{
    margin: 10px 0;
    
}

.navigation p{
    text-decoration: none;
}

.navigation a{
    text-decoration: none;
    color: #FFFFFF41;
}

.navigation .selected p{
    color: #FFFFFF;
    font-weight: 700;
}

.top-section .content{
    height: 57vh;
}

.catch-phrase{
    color: #FFFFFF41;
    text-align: right;
    margin: 5vh 30px 0 0;
    font-size: 5vh;
    font-weight: 300;
}

.catch-phrase .highlight{
    color: #FFFFFF;
    font-weight: 700;
}

#horizontal-mockup{
    height: 27vh; 
    margin-top: 8vh;
}

#spotlight-mockup{
    display: none;
    height: 100%;
}

.button-wrapper{
    margin-top: 5vh;
    text-align: center;
    display: block;
}

.outlined-button{
    display: inline-block;
    font-family: "Righteous";
    font-size: 1rem;
    color: #FFFFFF;
    padding: 0.9rem 1.3rem;
    border-color: #FFFFFF;
    border-width: 4px;
    border-style: solid;
    border-radius: 0.9rem;
}

.outlined-button p{
    margin: 0;
}

.step-card{
    width: 50%;
    min-height: 240px;
    margin: 0 auto;
    box-shadow: 0 8px 20px #3636363b;
    text-align: center;
    display: block;
}

.step-card img{
    height: 43px;
    margin: 50px auto 0 auto;
}

.step-card p{
    padding: 20px 30px;
    font-weight: 500;
}


.step-diagram{
    margin-top: 50px;
}

.step-diagram .divider{
    display: block;
    margin: 30px auto;
}

.selling-points-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.selling-points img{
    width: 33px;
}

.selling-points p{
    margin-left: 20px;
}

.selling-points div{
    display: flex;
    align-items: center;
    margin-top: 30px;
}

#floating-mockup{
    display: none;
}

.place-holder-image{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 60px 0;
}

.place-holder-image img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

.newsletter-cta{
    background-color: #152882;
    display: flex;
    flex-direction: column;
}

.newsletter-cta .outlined-button{
    border-color: #38E0EF;
    color: #38E0EF;
    font-weight: 300;
    margin-bottom: 40px;
    border-width: 4px;
}

.newsletter-cta .outlined-button p{
    padding: 0;
    color: #38E0EF;
}

.cta p{
    color: #FFFFFF;
    display: block;
    margin: 20px 0;
    font-size: 1.4rem;
}

.cta-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta{
    height: fit-content;
    padding: 30px;
}

.newsletter-cta .call-to-action{
    font-weight: 500;
    font-size: 2rem;
}

.coup-logo-as-text{
    color: #38E0EF;
    font-weight: 300;
}

.cta-input{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cta-input-wrapper{
    padding-right: 30px;
}

.email-input{
    font-family: "Comfortaa";
    font-weight: 300;
    font-size: 1rem;
    padding: 13px 20px;
    margin: 30px auto 30px auto;
    display: block;
    border: none;
    box-shadow: 0 4px 8px #00000041;
}

.email-input:focus{
    outline: none;
}














@media only screen and (min-width: 700px) {
    body{
        font-size: 20px;
    }

    #horizontal-mockup{
        display: none;
    }

    #spotlight-mockup{
        display: inline-block;
        height: 40vh;
    }

    .catch-phrase{
        width: fit-content;
        float: right;
    }

    .step-card{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 160px
    }

    .step-card div{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .step-card img{
        height: 43px;
        margin: 0;
    }

    .step-card p{
        width: 60%;
        margin: 0;
        padding: 0;
        text-align: left;
    }

    .selling-points{
        justify-content: start;
        float: right;
    }

    .selling-points div{
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .selling-points img{
        width: 50px;
    }

    .selling-points p{
        margin-right: 20px;
        margin-left: 0;
    }

    .place-holder-image{
        display: none;
    }

    .newsletter-cta{
        margin-top: 80px;
        flex-direction: row;
        justify-content: space-evenly;
    }
}























@media only screen and (min-width: 920px) {
    body{
        font-size: 24px;
    }

    #spotlight-mockup{
        height: 90vh;
    }

    .catch-phrase{
        font-size: 6vh;
        display: inline-block;
        float: right;
    }

    .content{
        width: 80%;
        margin: auto;
    }

    .navigation li, a, p{
        display: inline;
        margin: 0 10px;
    }

    .top-section .button-wrapper{
        text-align: left;
    }

    .header{
        height: 13vh;
        padding: 50px 70px 0 70px;
        overflow: auto;
    }

    .content .outlined-button{
        margin-left: 20%;
    }

    .selling-points-wrapper{
        justify-content: space-evenly;
    }

    .selling-points{
        margin-right: 100px;
        margin-bottom: 100px;
    }

    .newsletter-cta{
        justify-content: start;
    }

    .cta-input-wrapper{
        display: flex;
        justify-content: center;
        flex-grow: 2;
    }

    #floating-mockup{
        display: block;
        height: 470px;
        margin-left: 100px;
    }

    .newsletter-cta{
        background-color: transparent;
        margin-bottom: 80px;
    }

    .cta-wrapper{
        background-color: #152882;
        width: 40%;
    }
}




















@media only screen and (min-width: 1440px) {

    .step-diagram{
        display: flex;
        align-items: center;
        padding: 0 160px;
    }

    .step-diagram .divider{
        height: 7px;
        margin: 0 30px;
    }

    .step-card {
        display: block;
        max-width: 400px;
        min-height: 400px
    }

    .step-card div{
        display: block;
    }

    .step-card img{
        display: block;
        margin: 70px auto 0 auto;
    }

    .step-card p{
        display: block;
        padding: 70px 20px;
        margin: 0 auto;
    }

    .content{
        width: 60%;
        margin: auto;
    }

    .catch-phrase{
        font-size: 7.5vh;
    }

    h1{
        margin-top: 8rem;
        margin-bottom: 3rem;
    }

    .selling-points{
        margin-right: 0;
        margin-bottom: 220px;
    }

    .selling-points div{
        margin-top: 60px;
    }

    #floating-mockup{
        display: block;
        height: 700px;
        margin-left: 0;
    }
    
}













@media only screen and (max-height: 650px){
    #horizontal-mockup{
        display: inline-block;
        height: 50vh;
        margin-top: 0;
    }

    #spotlight-mockup{
        display: none;
    }

    .catch-phrase{
        font-size: 2rem;
        width: fit-content;
        float: right;
        
    }

    .content .button-wrapper{
        margin: 0;
        float: right;
        margin-top: 27%;
    }
}