
html, body{
    margin: 0;
    padding: 0;
    font-family: "Comfortaa";
    font-size: 16px;
}

h1{
    font-weight: 700;
    color: #121717;
    font-size: 2.8rem;
    margin-left: 8%;
    margin-top: 5rem;
}


.device-height{
    width: auto;
    height: 100vh;
}

.top-section{
    background-color: #060811;
}

.header{
    padding: 30px 30px 0 30px;
    overflow: auto;
}

.main{
    background-color: #FFFFFF;
}

.header .navigation{
    float: right;
    text-align: right;
    font-size: 18px;
    color: #FFFFFF41;
    font-family: "Comfortaa";
    font-weight: 300;
    list-style: none;
    margin: 0;
}

.navigation li{
    margin: 10px 0;
    
}

.navigation p{
    text-decoration: none;
}

.navigation a{
    text-decoration: none;
    color: #FFFFFF41;
}

.navigation .selected p{
    color: #FFFFFF;
    font-weight: 700;
}

.top-section .content{
    height: 57vh;
}

.catch-phrase{
    color: #FFFFFF41;
    text-align: right;
    margin: 5vh 30px 0 0;
    font-size: 5vh;
    font-weight: 300;
}

.catch-phrase .highlight{
    color: #FFFFFF;
    font-weight: 700;
}

.button-wrapper{
    margin-top: 5vh;
    text-align: center;
    display: block;
}

.outlined-button{
    display: inline-block;
    font-family: "Righteous";
    font-size: 2.5vh;
    color: #FFFFFF;
    padding: 1.8vh 2.5vh;
    border-color: #FFFFFF;
    border-width: 0.8vh;
    border-style: solid;
    border-radius: 1.8vh;
}

.outlined-button p{
    margin: 0;
}

.step-card{
    width: 50%;
    min-height: 240px;
    margin: 0 auto;
    box-shadow: 0 8px 20px #3636363b;
    text-align: center;
    display: block;
}

.step-card img{
    height: 43px;
    margin: 50px auto 0 auto;
}

.step-card p{
    padding: 20px 30px;
    font-weight: 500;
}


.step-diagram{
    margin-top: 50px;
}

.step-diagram .divider{
    display: block;
    margin: 30px auto;
}

.selling-points-wrapper{
    text-align: center;
}


.selling-points{
    display: inline-block;
    width: auto;
    margin: 0 auto;
}

.selling-points img{
    width: 33px;
}

.selling-points p{
    margin-left: 20px;
}

.selling-points div{
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.place-holder-image{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 60px 0;
}

.place-holder-image img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

.newsletter-cta{
    background-color: #152882;
    display: block;
}

.newsletter-cta .outlined-button{
    border-color: #38E0EF;
    color: #38E0EF;
    font-weight: 300;
    margin-bottom: 40px;
}

.newsletter-cta .outlined-button p{
    padding: 0;
    color: #38E0EF;
}

.newsletter-cta p{
    font-size: 1.4rem;
    font-weight: 300;
    color: #FFFFFF;
    padding: 30px 40px 0 40px;
}

.newsletter-cta .call-to-action{
    font-weight: 500;
    font-size: 2rem;
    padding: 30px 40px 0 40px;
}

.coup-logo-as-text{
    color: #38E0EF;
    font-weight: 300;
}

.email-input{
    font-family: "Comfortaa";
    font-weight: 300;
    font-size: 1rem;
    padding: 13px 20px;
    margin: 90px auto 30px auto;
    display: block;
    border: none;
    box-shadow: 0 4px 8px #00000041;
}

.email-input:focus{
    outline: none;
}
















@media only screen and (min-width: 700px) {
    body{
        font-size: 20px;
    }

    .step-card{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 160px
    }

    .step-card div{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .step-card img{
        height: 43px;
        margin: 0;
    }

    .step-card p{
        width: 60%;
        margin: 0;
        padding: 0;
    }
}























@media only screen and (min-width: 920px) {
    body{
        font-size: 24px;
    }

    #horizontal-mockup{
        display: none;
    }

    #spotlight-mockup{
        display: inline-block;
        height: 90vh;
    }

    .catch-phrase{
        font-size: 6vh;
        display: inline-block;
        float: right;
    }

    .content{
        width: 80%;
        margin: auto;
    }

    .navigation li, a, p{
        display: inline;
        margin: 0 10px;
    }

    .button-wrapper{
        text-align: left;
    }

    .header{
        height: 13vh;
        padding: 50px 70px 0 70px;
        overflow: auto;
    }
}




















@media only screen and (min-width: 1440px) {

    .step-diagram{
        display: flex;
        align-items: center;
        padding: 0 160px;
    }

    .step-diagram .divider{
        height: 7px;
        margin: 0 30px;
    }

    .step-card {
        display: block;
        max-width: 400px;
        min-height: 400px
    }

    .step-card div{
        display: block;
    }

    .step-card img{
        display: block;
        margin: 70px auto 0 auto;
    }

    .step-card p{
        display: block;
        padding: 70px 20px;
        margin: 0 auto;
    }

    .content{
        width: 60%;
        margin: auto;
    }

    .catch-phrase{
        font-size: 7.5vh;
    }

    h1{
        margin-top: 8rem;
    }
    
}



















@media only screen and (max-width: 919px) {
    #spotlight-mockup{
        display: none;
    }
}